@import "tailwindcss/base";
@import "tailwindcss/components";

@import "tailwindcss/utilities";

body{
  background-color: rgb(20, 20, 20);
  max-width: 1494px;
  min-width: 320px;
  margin: 0 auto;
  @apply font-poppins;
}

@layer components{
   /* TODO: вынести потом в отдельный компонент */
  .btnHeader{
    @apply py-[10px] px-[16px] rounded-[4px] text-btnHeader-white text-btnHeader  bg-btnHeader-blue whitespace-nowrap;
  }
}